img {
    width: 300px;height: 400px;

}
body
{text-align:center;
}
.benson{
    width:300px;height:300px;
}
body{
    background-image: url(https://pixy.org/src/475/4751044.png);
}
h2{
    color:white;
    font-family: 'Lobster', cursive;
}
h1{
    border:5px solid;
border-color:maroon;
color:white;
font-family: 'Shadows Into Light', cursive;
}
.mm{
    width: 300px;height:350px;
    }
    .gg{
        font-family: 'Jomolhari', serif;
    }

